:root {
  --background: #222222;
  --foreground: #696773;
  --accent: #EBD4CB;
  --text-one: #65334D;
  --text-two: #DA9F93;
  --shadow: #43424A;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(var(--background), var(--shadow)) var(--background);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: Verdana,Geneva,sans-serif;
  text-align: center;
}

h1, h2, h3 {
  color: var(--text-one);
  font-weight: bolder;
}

hr {
  border-color: var(--text-one);
  margin: 30px 10px;
}

button {
  border: none;
  text-decoration: none;
  background: var(--text-one);
  color: white;
  padding: 10px;
  font-size: 15px;
  box-shadow: 1px 1px 2px var(--shadow);
}

input, textarea, select {
  border: none;
  padding: 5px;
}

.box {
  background: var(--foreground);
  margin: 30px auto;
  border-radius: 10px;
  min-height:600px;
  width:95%;
  max-width: 720px;
  box-shadow: 2px 2px 4px var(--shadow);
  position: relative;
}

.box div {
  padding: 40px;
}

.navigation {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
}

.navigation button {
  margin: 20px;
}

.split {
  width: 80%;
  min-height: 140px;
  border-radius: 10px;
  margin: 20px auto;
  background: var(--accent);
  text-align: left;
  padding: 20px;
}

.split h2 {
  margin: 0 0 10px 0;
}

.split p {
  color: var(--background)
}

.split textarea {
  margin: 0 auto;
}

.brexit {
  padding: 0 !important;
}

.brexit textarea {
  width: 100%;
  height: 100px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

.flexContainer div {
  width: 30%;
  padding: 0 !important;
}

#complaint {
  width: 97%;
  margin: 0 auto;
  height: 200px;
}

#title {
  color: var(--text-two);
  font-style: italic;
  text-align: left;
  font-weight: bolder;
  margin-left: 20px;
  text-decoration: underline;
  text-shadow: 2px 2px 2px var(--text-one);
}

#extradetail {
  margin-bottom: 100px;
}