:root {
  --background: #222222;
  --foreground: #929499;
  --text-one: #7E4E60;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: white;
  font-family: Verdana,Geneva,sans-serif;
  text-align: center;
}

h1 {
  color: var(--text-one);
  font-weight: bolder;
}

.box {
  background: var(--foreground);
  margin: 30px auto;
  border-radius: 10px;
  height:600px;
  width:95%;
  max-width: 720px;
}

.box div {
  padding: 40px;
}