<!DOCTYPE html>
<html lang="en" ng-app="Complaints">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Complaints</title>

    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body ng-controller="MainCtrl">
    <main>
      <div class="box">
        <div ng-include="'static/partials/' + currentView + '.html'"></div>
      </div>
    </main>


    <!-- ====== SCRIPTS GO BELOW HERE ===================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/app.js"></script>
    <script src="static/longboi/dist/longboi.js"></script>
  </body>
</html>
